[package]
name = "esp-idf-svc"
version = "0.46.0"
authors = ["Ivan Markov <ivan.markov@gmail.com>"]
edition = "2018"
resolver = "2"
categories = ["embedded", "hardware-support"]
keywords = ["embedded", "svc", "idf", "esp-idf", "esp32"]
description = "Implementation of the embedded-svc traits for ESP-IDF (Espressif's IoT Development Framework)"
repository = "https://github.com/esp-rs/esp-idf-svc"
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://esp-rs.github.io/esp-idf-svc/"
rust-version = "1.66"

[features]
default = ["std"]

std = ["alloc", "anyhow/std", "log/std", "esp-idf-sys/std", "esp-idf-hal/std", "embedded-svc/std"]
alloc = ["anyhow", "esp-idf-hal/alloc", "embedded-svc/alloc"]
nightly = ["embedded-svc/nightly"]
experimental = ["embedded-svc/experimental"]
embassy-time-driver = ["embassy-time"]
embassy-time-isr-queue = ["embassy-sync", "embassy-time", "esp-idf-hal/embassy-sync"]

[dependencies]
heapless = { version = "0.7", default-features = false }
enumset = { version = "1", default-features = false }
log = { version = "0.4", default-features = false }
uncased = "0.9.7"
anyhow = { version = "1", default-features = false, optional = true } # Only used by the deprecated httpd module
embedded-svc = { version = "0.25", default-features = false }
esp-idf-sys = { version = "0.33", default-features = false, features = ["native"] }
esp-idf-hal = { version = "0.41", default-features = false, features = ["esp-idf-sys"] }
embassy-sync = { version = "0.2", optional = true }
embassy-time = { version = "0.1.1", optional = true, features = ["tick-hz-1_000_000"] }
embassy-futures = "0.1"

[build-dependencies]
embuild = "0.31.2"
anyhow = "1"

[dev-dependencies]
anyhow = "1"
esp-idf-sys = { version = "0.33", features = ["native", "binstart"] }
futures = "0.3"

[[example]]
name = "http_request"

[[example]]
name = "wifi"

[[example]]
name = "wifi_async"

[[example]]
name = "nvs_read_write"
