[package]
name = "esp-idf-svc"
version = "0.41.3"
authors = ["Ivan Markov <ivan.markov@gmail.com>"]
edition = "2018"
resolver = "2"
categories = ["embedded", "hardware-support"]
keywords = ["embedded", "svc", "idf", "esp-idf", "esp32"]
description = "Implementation of the embedded-svc traits for ESP-IDF (Espressif's IoT Development Framework)"
repository = "https://github.com/esp-rs/esp-idf-svc"
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://esp-rs.github.io/esp-idf-svc/"

[features]
default = ["std"]

std = ["alloc", "anyhow/std", "log/std", "esp-idf-sys/std", "esp-idf-hal/std", "embedded-svc/std"]
alloc = ["cstr_core/alloc", "anyhow", "esp-idf-hal/alloc", "embedded-svc/alloc"]
isr-async-executor = ["embedded-svc/isr-async-executor", "alloc", "heapless", "experimental"]
experimental = ["embedded-svc/experimental", "esp-idf-hal/experimental", "uncased"]

[dependencies]
enumset = { version = "1", default-features = false }
log = { version = "0.4", default-features = false }
cstr_core = "0.2"
anyhow = { version = "1", default-features = false, optional = true }
embedded-svc = { version = "0.21.2", default-features = false }
esp-idf-sys = { version = "0.31.5", default-features = false, features = ["native"] }
esp-idf-hal = { version = "0.37.3", default-features = false, features = ["esp-idf-sys", "embedded-svc"] }
uncased = { version = "0.9.6", optional = true }
heapless = { version = "0.7", default-features = false, optional = true }

[build-dependencies]
embuild = "0.29"
anyhow = "1"
